<app-sidebaradmin></app-sidebaradmin>

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Profile</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Users</li>
                    <li class="breadcrumb-item active">Profile</li>
                </ol>
            </nav>
        </div>
        <!-- End Page Title -->

        <section class="section profile">
            <div class="row">
                <div class="col-xl-4">

                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                            <img src="../../../assets/img/{{this.user.User[0].imagepath}}" alt="" style="width:150px; height:  130px;" class="rounded-circle"> {{token.unique_name}}

                            <div class="social-links mt-2">
                                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-xl-8">

                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">

                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                                </li>
                                <div *ngFor="let obj of admin.profile">

                                    <li class="nav-item">
                                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit" (click)="update(obj.dateofbirth,obj.email,obj.firstname , obj.imagepath,obj.lastname,obj.phone,obj.address,obj.id)">Edit Profile</button>
                                    </li>
                                </div>


                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                                </li>

                            </ul>
                            <div class="tab-content pt-2">

                                <div class="tab-pane fade show active profile-overview" id="profile-overview">


                                    <h5 class="card-title">Profile Details</h5>
                                    <div *ngFor="let obj of admin.profile">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                            <div (click)='ll()' class="col-lg-9 col-md-8">{{obj.firstname}} {{obj.lastname}} </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-lg-3 col-md-4 label">User Name</div>
                                            <div class="col-lg-9 col-md-8">{{token.unique_name}}</div>
                                        </div>


                                        <div class="row">
                                            <div class="col-lg-3 col-md-4 label">Dateofbirth</div>
                                            <div class="col-lg-9 col-md-8">{{obj.dateofbirth|date}}</div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-3 col-md-4 label">Address</div>
                                            <div class="col-lg-9 col-md-8">{{obj.address}}</div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-3 col-md-4 label">Phone</div>
                                            <div class="col-lg-9 col-md-8">{{obj.phone}}</div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-3 col-md-4 label">Email</div>
                                            <div class="col-lg-9 col-md-8">{{obj.email}}</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                    <!-- Profile Edit Form -->
                                    <form>

                                        <div *ngFor="let obj of admin.profile">
                                            <div class="row mb-3">
                                                <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                                                <div class="col-md-8 col-lg-9">
                                                    <img *ngIf="this.user.display_Image == null" src="../../../assets/img/{{obj.imagepath}}" alt="Profile" class="rounded-circle"  style="width:100px ; height:100px;">
                                                    <img *ngIf="this.user.display_Image != null" src="../../../assets/img/{{this.user.display_Image}}" alt="Profile" class="rounded-circle" style="width:100px ; height:100px;">

                                                    <div class="pt-2">
                                                        <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image">
                                                            <input id="u" name="u" type="file" accept="image/*" #file (change)="uploadImage(file.files)" [(ngModel)]="p_data.imagepath" />
                                                            <i class="bi bi-upload"></i>
                                                        </a>
                                                        <a href="http://localhost:4200/admin/profile" class="btn btn-danger btn-sm" (click)="clearimg()" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                                                    </div>
                                                </div>
                                            </div>




                                            <div class="row mb-3">
                                                <label for="company" class="col-md-4 col-lg-3 col-form-label">first Name</label>
                                                <div class="col-md-8 col-lg-9">
                                                    <input name="firstName" type="text" class="form-control" id=" firstName " [(ngModel)]="p_data.firstname ">
                                                </div>
                                            </div>

                                            <div class="row mb-3 ">
                                                <label for="Job " class="col-md-4 col-lg-3 col-form-label ">Last Name</label>
                                                <div class="col-md-8 col-lg-9 ">
                                                    <input name="job " type="text " class="form-control " id="Job " [(ngModel)]="p_data.lastname ">
                                                </div>
                                            </div>

                                            <div class="row mb-3 ">
                                                <label for="Address " class="col-md-4 col-lg-3 col-form-label ">Address</label>
                                                <div class="col-md-8 col-lg-9 ">
                                                    <input name="Address" type="text " class="form-control " id="Address " [(ngModel)]="p_data.address">
                                                </div>
                                            </div>

                                            <div class="row mb-3 ">
                                                <label for="dateofbirth " class="col-md-4 col-lg-3 col-form-label ">date Of Birth</label>
                                                <div class="col-md-8 col-lg-9 ">
                                                    <input name="dateofbirth" type="date" class="form-control " id="dateofbirth " [(ngModel)]="p_data.dateofbirth ">
                                                </div>
                                            </div>

                                            <div class="row mb-3 ">
                                                <label for="Phone " class="col-md-4 col-lg-3 col-form-label ">Phone</label>
                                                <div class="col-md-8 col-lg-9 ">
                                                    <input name="phone " type="text " class="form-control " id="Phone " [(ngModel)]="p_data.phone ">
                                                </div>
                                            </div>

                                            <div class="row mb-3 ">
                                                <label for="Email " class="col-md-4 col-lg-3 col-form-label ">Email</label>
                                                    <div class="col-md-8 col-lg-9 ">
                                                    <input name="email " type="email " class="form-control " disabled id="Email " [(ngModel)]="p_data.email ">
                                                </div>
                                            </div>

                                            <div class="text-center ">
                                                <button type="submit " (click)="updateProlile()" class=" btn btn-primary ">Save Changes</button>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- End Profile Edit Form -->

                                </div>

                                <div class="tab-pane fade pt-3" id="profile-change-password">
                                    <!-- Change Password Form -->
                                    <form>

                                        <div class="row mb-3">
                                            <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="password" type="password" (change)="pastpass()" required [(ngModel)]="past" class="form-control" id="currentPassword">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="newpassword" type="password" class="form-control" required id="newPassword" [(ngModel)]="newp">

                                            </div>
                                        </div>

                                        <div class=" row mb-3 ">
                                            <label for="renewPassword " class="col-md-4 col-lg-3 col-form-label ">Re-enter New Password</label>
                                            <div class="col-md-8 col-lg-9 ">
                                                <input name="renewpassword " (change)="pastpass1() " type="password " required class="form-control " [(ngModel)]="repass " id="renewPassword ">
                                            </div>
                                        </div>

                                        <div class="text-center ">
                                            <button type="submit " (click)="resetpassword()" class="btn btn-primary ">Change Password</button>
                                        </div>
                                    </form>
                                    <!-- End Change Password Form -->

                                </div>

                            </div>
                            <!-- End Bordered Tabs -->

                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main>
    <!-- End #main -->


